<div class="ui middle aligned center aligned grid">
  <div class="column" style="margin-top: 100px; max-width: 450px">
    <h2 class="ui inverted header">
      Update your account
    </h2>
    
    <%= render 'form' %>
  </div>
</div>